@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@font-face {
  font-family: 'Cooper BT';
  src: url('./fonts/CooperBT.ttf') format('truetype');
}

@font-face {
  font-family: 'The Seasons';
  src: url('./fonts/TheSeasons.ttf') format('truetype');
}

@font-face {
  font-family: 'CooperMdBT';
  src: url('./fonts/CooperMdBT-Regular.ttf') format('truetype');
}

.title-font {
  font-family: 'The Seasons', serif;
}

.body-text {
  font-family: 'Cooper BT', serif;
}

.body-text-bold {
  font-family: 'CooperMdBT', sans-serif;
}

html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

/* TEXT SIZES */
.text-lg {
  font-size: 1.125rem;
}

.text-xl {
  font-size: 1.25rem;
}

.text-2xl {
  font-size: 1.5rem;
}

.text-3xl {
  font-size: 1.875rem;
}

.text-4xl {
  font-size: 2.25rem;
}

.text-5xl {
  font-size: 3rem;
}

/* NAVIGATION BAR */
.twitter-link {
  @apply body-text-bold no-underline relative;
  transition: color 0.3s ease;
}

.twitter-link:hover {
  color: #E75577;
}

.twitter-link::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: #E75577;
  position: absolute;
  bottom: -6px;
  left: 0;
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
}

.twitter-link:hover::after {
  transform: scaleX(1);
}

/* HUMAN FIGURE */
.human-figure-container {
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.human-figure {
  max-width: 50%;
  height: auto;
}

@media (max-width: 640px) {
  .human-figure {
    max-width: 140%;
    height: auto;
    margin: 0rem auto;
    display: block;
  }
}

.popup-window-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
}

.popup-window {
  position: absolute;
  transform: translateX(-50%);
  color: white;
  padding: 10px;
  pointer-events: auto;
  width: calc(100vw - 40px);
  max-width: 600px;
  height: auto;
  background-color: transparent;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.popup-window-container:hover .popup-window {
  opacity: 1;
  transform: translateX(-50%) scale(1);
}

.popup-window-large {
  max-width: 80%;
  height: auto;
}

@media (max-width: 640px) {
  .popup-window-large {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .popup-window-large {
    max-width: 70%;
  }

  .popup-window-custom {
    width: 40%;
    height: auto;
  }
}

@media (min-width: 1024px) {
  .popup-window-large {
    max-width: 60%;
  }

  .popup-window-custom {
    width: 30%;
    height: auto;
  }
}

@media (min-width: 1280px) {
  .popup-window-large {
    max-width: 50%;
  }

  .popup-window-custom {
    width: 25%;
    height: auto;
  }
}

@media (min-width: 1536px) {
  .popup-window-large {
    max-width: 40%;
  }

  .popup-window-custom {
    width: 20%;
    height: auto;
  }
}

.popup-window-pink {
  top: -10%;
  left: 65%;
}

.popup-window-green {
  top: 0;
  left: 3%;
}

.popup-window-orange {
  top: 0;
  left: 70%;
}

.popup-window-red {
  top: 10%;
  left: 3%;
}

.popup-window-purple {
  top: 10%;
  left: 70%;
}

.popup-window-blue {
  top: 20%;
  left: 3%;
}

.popup-window-yellow {
  top: 20%;
  left: 70%;
}

@media (max-width: 640px) {

  .popup-window-pink,
  .popup-window-green,
  .popup-window-orange,
  .popup-window-red,
  .popup-window-purple,
  .popup-window-blue,
  .popup-window-yellow {
    top: auto;
    left: auto;
    transform: translate(-50%, -50%);
  }
}

/* CIRCLE */
.circle {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.circle-pink {
  background-color: pink;
}

.circle-green {
  background-color: green;
}

.circle-orange {
  background-color: orange;
}

.circle-red {
  background-color: red;
}

.circle-purple {
  background-color: purple;
}

.circle-blue {
  background-color: blue;
}

.circle-yellow {
  background-color: yellow;
}

@media (max-width: 640px) {
  .circle-pink {
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
  }

  .circle-green {
    top: 13%;
    left: 35%;
    transform: translateX(-50%);
  }

  .circle-orange {
    top: 13%;
    left: 65%;
    transform: translateX(-50%);
  }

  .circle-red {
    top: 25%;
    left: 21%;
    transform: translateX(-50%);
  }

  .circle-purple {
    top: 25%;
    left: 79%;
    transform: translateX(-50%);
  }

  .circle-blue {
    top: 40%;
    left: 13%;
    transform: translateX(-50%);
  }

  .circle-yellow {
    top: 40%;
    left: 87%;
    transform: translateX(-50%);
  }
}

@media (min-width: 768px) {
  .circle-pink {
    top: -5%;
    left: 50%;
    transform: translateX(-50%);
  }

  .circle-green {
    top: 9%;
    left: 40%;
    transform: translateX(-50%);
  }

  .circle-orange {
    top: 9%;
    left: 60%;
    transform: translateX(-50%);
  }

  .circle-red {
    top: 20%;
    left: 37%;
    transform: translateX(-50%);
  }

  .circle-purple {
    top: 20%;
    left: 63%;
    transform: translateX(-50%);
  }

  .circle-blue {
    top: 33%;
    left: 35%;
    transform: translateX(-50%);
  }

  .circle-yellow {
    top: 33%;
    left: 65%;
    transform: translateX(-50%);
  }
}

/* AREAS */
@media (max-width: 640px) {
  .area-pink {
    top: 0%;
    left: 42%;
    width: 16%;
    height: 9%;
    background-color: rgba(255, 192, 203, 0.3);
  }

  .area-green {
    top: 10%;
    left: 27%;
    width: 20%;
    height: 7%;
    background-color: rgba(0, 128, 0, 0.3);
  }

  .area-orange {
    top: 10%;
    left: 53%;
    width: 20%;
    height: 7%;
    background-color: rgba(255, 165, 0, 0.3);
  }

  .area-red {
    top: 22%;
    left: 12%;
    width: 20%;
    height: 7%;
    background-color: rgba(255, 0, 0, 0.3);
  }

  .area-purple {
    top: 22%;
    left: 68%;
    width: 20%;
    height: 7%;
    background-color: rgba(128, 0, 128, 0.3);
  }

  .area-blue {
    top: 37%;
    left: 4%;
    width: 20%;
    height: 7%;
    background-color: rgba(0, 0, 255, 0.3);
  }

  .area-yellow {
    top: 37%;
    left: 76%;
    width: 20%;
    height: 7%;
    background-color: rgba(255, 255, 0, 0.3);
  }
}

@media (min-width: 641px) {
  .area-pink {
    top: -8%;
    left: 42%;
    width: 22%;
    height: 13%;
    background-color: rgba(255, 192, 203, 0.3);
  }

  .area-green {
    top: 5%;
    left: 32%;
    width: 15%;
    height: 11%;
    background-color: rgba(0, 128, 0, 0.3);
  }

  .area-orange {
    top: 5%;
    left: 53%;
    width: 15%;
    height: 11%;
    background-color: rgba(255, 165, 0, 0.3);
  }

  .area-red {
    top: 16%;
    left: 31%;
    width: 16%;
    height: 11%;
    background-color: rgba(255, 0, 0, 0.3);
  }

  .area-purple {
    top: 16%;
    left: 53%;
    width: 16%;
    height: 11%;
    background-color: rgba(128, 0, 128, 0.3);
  }

  .area-blue {
    top: 27%;
    left: 30%;
    width: 17%;
    height: 11%;
    background-color: rgba(0, 0, 255, 0.3);
  }

  .area-yellow {
    top: 27%;
    left: 53%;
    width: 17%;
    height: 11%;
    background-color: rgba(255, 255, 0, 0.3);
  }
}

/* buttons */
.learn-more-btn {
  font-family: 'Cooper BT', serif;
  font-size: 1.25rem;
  background-color: white;
  border: 2px solid black;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.learn-more-btn:hover {
  background-color: #f0f0f0;
  transform: scale(1.05);
}

.learn-more-btn::before,
.learn-more-btn::after {
  content: "";
  position: absolute;
  border: 1px solid black;
}

.learn-more-btn::before {
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
}

.learn-more-btn::after {
  top: -8px;
  left: -8px;
  right: -8px;
  bottom: -8px;
}

/* OTHER */
/* General adjustments for mobile */
header {
  justify-content: flex-start;
  align-items: flex-start;
}

nav {
  margin-top: -3rem;
}

@media (min-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  nav {
    order: 1;
    margin-bottom: 8rem;
    align-self: flex-end;
    margin-top: -4rem;
  }

  h1 {
    order: 2;
    padding-left: 4rem;
    align-self: flex-start;
  }

  main {
    padding-left: 4rem;
  }

  .human-figure {
    margin-top: -90px;
  }
}

/* YouTube video responsive styling */
.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.embed-responsive::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}

.embed-responsive-16by9 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.area {
  transition: background-color 0.3s ease;
}

.area:hover {
  background-color: white;
}