@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.human-figure-container {
  position: relative;
  display: inline-block;
}

.human-figure-grid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.2) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 1px, transparent 1px);
  background-size: 20px 20px;
  /* Adjust the grid size as needed */
  pointer-events: none;
}


/* FONTS */
@font-face {
  font-family: 'Cooper BT';
  src: url('./fonts/CooperBT.ttf') format('truetype');
}

@font-face {
  font-family: 'The Seasons';
  src: url('./fonts/TheSeasons.ttf') format('truetype');
}

@font-face {
  font-family: 'CooperMdBT';
  src: url('./fonts/CooperMdBT-Regular.ttf') format('truetype');
}

/*
@layer base {
  body {
    @apply bg-background text-subtext font-subtext;
  }
} */

/* SIZES */
.text-lg {
  font-size: 1.125rem;
}

.text-xl {
  font-size: 1.25rem;
}

.text-2xl {
  font-size: 1.5rem;
}

.text-3xl {
  font-size: 1.875rem;
}

.text-4xl {
  font-size: 2.25rem;
}

.text-5xl {
  font-size: 3rem;
}

/* FONTS */

.title-font {
  font-family: 'The Seasons', serif;
}

.body-text {
  font-family: 'Cooper BT', serif;
}

.body-text-bold {
  font-family: 'CooperMdBT', sans-serif;
}

/* COLOURS */
.bg-background {
  background-color: #1E1F22;
}

.text-primary {
  color: #65B6DD;
}

.text-subtext {
  color: #D5FCFD;
}

/* NAVIGATION BAR */

.twitter-link {
  @apply body-text-bold no-underline relative;
  transition: color 0.3s ease;
}

.twitter-link:hover {
  color: #E75577;
}

.twitter-link::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: #E75577;
  position: absolute;
  bottom: -6px;
  left: 0;
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
}

.twitter-link:hover::after {
  transform: scaleX(1);
}

/* HUMAN FIGURE */
.human-figure {
  max-width: 70%;
  /* Adjust this value to make the image smaller */
}

/* HOVERING WINDOWS */

.pink-window {
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.green-window {
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
}

.red-window {
  top: 250px;
  left: 50%;
  transform: translateX(-50%);
}

.blue-window {
  top: 350px;
  left: 50%;
  transform: translateX(-50%);
}

.orange-window {
  top: 150px;
  right: 50%;
  transform: translateX(50%);
}

.purple-window {
  top: 250px;
  right: 50%;
  transform: translateX(50%);
}

.yellow-window {
  top: 350px;
  right: 50%;
  transform: translateX(50%);
}